<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Free electronic invoicing for Colombia by Jorels</h2>
        <h3 class="oe_slogan">Electronic Invoicing, Electronic Credit note, Electronic Debit note</h3>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">l10n_co_edi_jorels</h2>
        <h3 class="oe_slogan">Under LGPL license</h3>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-check fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
                This module has been tested with the Odoo 12, 13 and 14 Community version and you can use it freely under the terms of the LGPL license.
            </p>
            <span class="fa fa-exclamation-triangle fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
                Due to DIAN requirements, before installing this module we recommend that you install the OCA account_debitnote module for compatibility with debit notes and the OCA web_notify module for compatibility with pop-up notifications.
            </p>
            <span class="fa fa-copyright fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
                This module has been developed by Jorels Copyright (2019-2021) and you can use it freely and for free, however if you want some kind of support, training, etc.; write to <a href="mailto:info@jorels.com">info@jorels.com</a> and contact us.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>